/obj/Debug/net8.0/apphost.exe
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/.idea/.idea.DronesTechAPI.dir/.idea/aws.xml
/obj/Debug/net8.0/DronesTe.4D08D2CB.Up2Date
/obj/Debug/net8.0/DronesTechAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/DronesTechAPI.csproj.FileListAbsolute.txt
/bin/Debug/net8.0/DronesTechAPI.deps.json
/bin/Debug/net8.0/DronesTechAPI.dll
/obj/Debug/net8.0/ref/DronesTechAPI.dll
/obj/Debug/net8.0/refint/DronesTechAPI.dll
/obj/Debug/net8.0/DronesTechAPI.dll
/bin/Debug/net8.0/DronesTechAPI.exe
/obj/Debug/net8.0/DronesTechAPI.genruntimeconfig.cache
/obj/Debug/net8.0/DronesTechAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/DronesTechAPI.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net8.0/DronesTechAPI.pdb
/obj/Debug/net8.0/DronesTechAPI.pdb
/bin/Debug/net8.0/DronesTechAPI.runtimeconfig.json
/obj/Debug/net8.0/DronesTechAPI.sourcelink.json
/.idea/.idea.DronesTechAPI.dir/.idea/indexLayout.xml
/bin/Debug/net8.0/Microsoft.OpenApi.dll
/obj/Debug/net8.0/staticwebassets/msbuild.build.DronesTechAPI.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.DronesTechAPI.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.DronesTechAPI.props
/obj/Debug/net8.0/staticwebassets.build.json
/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
